& {
  padding: 30px;
  position: absolute;
  width: calc(100vw - 60px);
  top: 0;

  @media (max-width: phone-width-breakpoint()) {
    padding: 15px;
    width: calc(100vw - 30px);

    > div:first-child p {
      display: none;
    }
  }

  > div:first-child {
    flex-flow: row;

    > * + * {
      margin-left: 20px;
    }

    > div {
      justify-content: flex-start !important;

      > p {
        text-transform: uppercase;
        margin-left: 10px;
      }
    }
  }

  > div:last-child {
    > * {
      height: 52px;
      min-width: 44px;
    }

    > * + * {
      margin-left: 15px;
    }
  }
}
