<!-- FIGURE OUT METHOD TO NOT LET API KEY PUBLIC -->
<HclUi @apiKey="30006698f4baead2"
       @appName="CareCards"
       @appURL="https://care-cards.io"
       @screenName="searchNearMe"
       @specialist={{this.specialist}}/>