// Set of modal layouts
// --------------------
.mind-game-modal {
  height: 80vh;
  width: 700px;
  max-width: 85vw;
  background: get-color('white');
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: phone-width-breakpoint()) {
    height: 85vh;
  }

  // Logo + Options
  > div:first-child {
    width: 100%;
    margin-bottom: 10px;

    // Logo
    > h1 {
      margin-bottom: 0;
    }

    // Options
    > div {
      display: flex;
      flex-flow: row;

      p {
        font-weight: bold;
        margin-left: 5px;
      }

      button + button {
        margin-left: 15px;
      }
    }
  }

  // Content Information
  > div:nth-child(2) {
    flex: 1;
    width: calc(100% - 40px);
    max-height: 100%;
    overflow-y: scroll;
    padding: 0 20px;
  }

  // Footer: Disclaimer + Options
  > div:last-child {
    margin-top: 10px;
    width: 100%;

    > hr {
      width: 100%;
      margin-top: 0;
      margin-bottom: 20px;
    }

    > button {
      margin: auto;
    }

    > div {
      display: flex;
      flex-flow: row;
      justify-content: center;
    }

    > p {
      margin-top: 10px;

      & + p {
        margin-top: 5px;
      }
    }

    .mind-active {
      color: get-color('white');
      background: get-color('black-s1');
    }
  }
}

// Modal Style designed for modal screens presented in the welcome page
.mind-tutorial-modal-content {
  display: flex;
  flex-flow: column;
  align-items: center;

  > svg {
    font-size: 3em;
  }

  h1 + svg, p + svg {
    margin-top: 50px;
  }

  > h1:first-child {
    margin-bottom: 20px;
  }

  > svg:first-child {
    font-size: 4em;
  }

  > * {
    line-height: 1.2em;
    text-align: center;
    max-width: 500px;
  }

  > * + * {
    margin-top: 30px !important;
  }

  > div + div {
    margin-top: 20px !important;
  }

  .slick-dots {
    bottom: -35px;

    button::before {
      font-size: 25px;
    }
  }
}
