& {
  ul {
    li {
      @extend .mind-text;
      text-align: left;
      font-weight: bold;
    }

    li + li {
      margin-top: 5px;
    }
  }

  .mind-cid-list {
    @extend .mind-cah-border;
    padding: 20px;
    width: 100%;

    li {
      @extend .mind-flex-space-between;
      font-size: 12px !important;
      margin-bottom: 10px;
      width: 100%;

      a {
        color: get-color('black');
        text-decoration: none;
      }

      svg {
        cursor: pointer;
        font-size: 16px;
      }

      * + * {
        margin-left: 10px;
      }
    }

    li + li {
      border-top: 1px solid get-color('black-s1');
      padding-top: 10px;
    }
  }
}
