& {
  width: 100%;

  > div:first-child {
    width: 100%;
    margin-bottom: 40px;
  }

  .mind-cah-border {
    padding: 20px;
    height: 400px;
    width: 320px;
  }

  > div:last-child {
    > div {
      > div:first-child {
        flex-flow: row;
        margin-bottom: 10px;

        > p {
          @extend .mind-flex-center;


          > span {
            margin-left: 10px;
            padding: 5px 10px;

            &.mind-adjusted {

            }

            &.mind-unadjusted {
              background: get-color('black-s1');
              color: get-color('primary');
              border-radius: 5px;
            }
          }

          > svg {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
