<div class="{{styleNamespace}}">
  <div class="mind-flex-space-between">
    <p class="mind-semi-big-text">
      <b>How to best play this game?</b>
    </p>
    <FaIcon @icon="question-circle"/>
  </div>

  <div>
    <div>
      <div class="mind-flex-space-between">
        <p class="mind-text">Screen light <span class="mind-small-text mind-adjusted">80% <FaIcon @icon="check"/></span> <FaIcon @icon="question-circle"/></p>
        <FaIcon @icon="circle"/>
      </div>
      <div>
        <p class="mind-small-text">
          This is an explanation of how the application should be configured for optiomal game experience
        </p>
      </div>
    </div>

    <div>
      <div class="mind-flex-space-between">
        <p class="mind-text">Screen light <span class="mind-small-text mind-unadjusted">80%</span> <FaIcon @icon="question-circle"/></p>
        <FaIcon @icon="circle"/>
      </div>
      <div>
        <p class="mind-small-text">
          Hoka Mundo
        </p>
      </div>
    </div>
  </div>
</div>