<div class="mind-card-dimensions {{styleNamespace}}" {{did-insert this.loadDom}}>
  <div>
    <div class="mind-front-card" style="background: url('{{this.card.image}}') no-repeat center">
      <section>
        {{#if cardLoaded}}
          <button class="mind-button" {{on "click" restoreCardImage}}>
            <FaIcon @icon="undo"/>
          </button>
        {{else}}
          <label class="mind-button" for="file-input-{{index}}">
            <FaIcon @icon="file-upload"/>
          </label>
        {{/if}}

        <input type='file' id="file-input-{{index}}" style="display: none"
               {{on "change" this.selectNewCardImage}} />
      </section>

      <p>{{this.card.question}} </p>
    </div>
  </div>
</div>