<div class="mind-tutorial-modal-content {{styleNamespace}}" {{did-insert this.loadDom}}>
  <h1 class="mind-big-text">
    Illustration Deck Editor
  </h1>

  <p class="mind-text">
    The deck editor is a tool for clinic and research partners to transform screening
    questionnaires into projective screenings for research or assessment purposes.
  </p>

  <p class="mind-text">
    Follow these easy steps:
  </p>

  <ul>
    <li>1. Click <FaIcon @icon="file-upload"/> to upload an illustration.</li>
    <li>2. Click <FaIcon @icon="undo"/> to undo illustration upload.</li>
    <li>3. Then click "New submission".</li>
    <li>4. Wait for approval by CareCards.</li>
    <li>5. Receive the QR code/URL for launching your submitted deck.</li>
    <li>6. Secure your illustration ownership with signing your images.</li>
    <li>7. Share the deck via QR/URL for research or clinical use with ownership via NFT technology.</li>
  </ul>

  <Common::Carousel @parent={{this}}
                    @dots={{true}}
                    @slidesToShow={{1}}
                    @variableWidth={{true}}
                    @centerPadding='50px'
                    @swipe={{false}}
                    @infinite={{false}}
                    @reference="carousel">
    {{#each deck.cards as |card index|}}
      <Editor::CardInput @card={{card}} @index={{index}}/>
    {{/each}}
  </Common::Carousel>

  {{#if qrCode}}
    <FaIcon @icon="check"/>

    <h2 class="mind-big-text">
      Congratulation on your submission!
    </h2>

    <p class="mind-text">
      Your illustration deck is “Under Review.”
    </p>

    <p class="mind-text">
      Meanwhile, use the QR code to access your illustration deck
    </p>

    <a href="{{deckUrl}}" target="_blank">
      <img src="{{qrCode}}">
    </a>

    <FaIcon @icon="address-card"/>

    <h2 class="mind-big-text">
      Secure your ownership with your signature!
    </h2>

    <p class="mind-text">
      Your illustrations have been saved under NFT Storage with the list of illustration CIDs.
    </p>

    <p class="mind-text">
      Claim the ownership and mine your NFT tokens using CIDs. For more questions, contact
      <a href="mailto:info@care-cards.io">info@care-cards.io</a>
    </p>

    <div class="mind-cid-list">
      <ul>
        {{#each cids as |cid index|}}
          <li>
            {{cid}}
            <span>
              <a href="https://{{cid}}.ipfs.dweb.link" target="_blank">
                <FaIcon @icon="external-link-square-alt"/>
              </a>
              <a {{on "click" (fn copyToClipboard cid)}}>
                <FaIcon @icon="copy"/>
              </a>
            </span>
          </li>
        {{/each}}
      </ul>
    </div>
  {{else}}
    {{#if submittingDeck}}
      <Common::Spinner/>
    {{else}}
      <button class="mind-button mind-small-text" {{on "click" submitNewDeck}}>
        New submission
      </button>
    {{/if}}
  {{/if}}
</div>