<div class="mind-tutorial-modal-content {{styleNamespace}}">
  <FaIcon @icon="microscope"/>

  <h1 class="mind-big-text">
    Deck Editor
  </h1>

  <FaIcon @icon="key"/>

  <h1 class="mind-semi-big-text">
    Unleash the potential of CareCards test models
  </h1>

  <p class="mind-text">
    The deck editor allow research groups and institutions to use the CareCards medical validated
    pyschological test model to design their own decks. Submit your own card illustrations to create
    a new Corona Anxiety Scale based test and distribute it to your testers in order to make your own
    impact in the mental healthcare.
  </p>

  <FaIcon @icon="notes-medical"/>

  <h1 class="mind-semi-big-text">
    Meet our submission process
  </h1>

  <p class="mind-text">
    We are commited to guarantee the quality and medical validity of our tests. Our editor secures the
    proper use of our test model by carrying out a validation process before release of a editor based
    deck. The process of submitting new tests consists on:
  </p>

  <ol>
    <li>Edit our deck: use the editor to replace each illustration of our test by your own illustrations.</li>
    <li>Submit your work: upload your edited deck to the CareCards deck library.</li>
    <li>Wait for the validation: a team of experts will grant that new illustrations align with the purpose of the game.</li>
    <li>
      Distribute your deck: once approved your will get a confirmation and a link for distributing your game.
      Research decks will be configured with custom disclaimers and test information in order to notify users
      about its non-commercial and research purposes.
    </li>
  </ol>

  <FaIcon @icon="id-badge"/>

  <h1 class="mind-semi-big-text">
    Commited with crediting your work
  </h1>

  <p class="mind-text">
    We want to encourage researchers to put effort in designing new tests that can make mental health more
    accessible. Because of that our editor uses the NFT-Storage technology to visualize researchers credit
    via NFT technology. For that we mark our editor decks with extra information that recognizes the ownership
    of the deck and provides specially adapted information researches can make use of to create NFT that prove
    the authenticity and ownership of the edited cards.
  </p>
</div>