<div>
  {{#if deck.modded}}
    <Common::Modal @parent={{this}}
                   @plug="modal">
      <div class="mind-game-modal">
        <!-- HEADER -->
        <div class="mind-flex-space-between">
          <h1 class='mind-modal-logo'>
            <p><img src="assets/images/common/illness-logo.png">Coronavirus</p>
            {{t "welcome.header"}} <span>{{t "welcome.depression"}}</span>
            <p><a href="mailto:info@care-cards.io"  rel='noopener noreferrer' target='_blank'>by CareCards</a></p>
          </h1>

          <div>
            <button class="mind-button" {{on "click" this.closeModal}}>
              <FaIcon @icon="times"/>
            </button>
          </div>
        </div>

        <!-- CONTENT -->
        <div class="mind-tutorial-modal-content">
          <FaIcon @icon="flask"/>

          <h2 class="mind-big-text">
            Under Review
          </h2>

          <p class="mind-text">
            This is an “unreviewed” deck, and CareCards takes no responsibility on its usage.
          </p>

          <p class="mind-text">
            Contact <a href="mailto:info@care-cards.io">info@care-cards.io</a> to report the content
          </p>
        </div>
      </div>
    </Common::Modal>

    <div class="mind-mod-label" {{on 'click' showModal}}>
      <p class="mind-text">Mod by NFT Hack Vision <FaIcon @icon="flask"/></p>
    </div>
  {{/if}}
</div>