<NotificationContainer @class="mind-notification"/>

<Layout::GameCarousel @deck={{deck}}
                      @wallet={{wallet}}
                      @prizes={{prizes}}
                      @prizesBasket={{this.prizesBasket}}
                      @language={{this.language}}
                      @achievements={{achievements}}
                      @loadWallet={{this.loadWallet}}
                      @togglePrize={{this.togglePrize}}
                      @selectLanguage={{this.selectLanguage}}
                      @completeAchievement={{this.completeAchievement}}/>

<Editor::ModdedLabel @deck={{deck}}/>